@model Position[]

<section id="experience" class="lg:min-h-full print:min-h-0 container mx-auto pb-8">
    <h2 class="text-2xl mb-8">03. <span class="text-zinc-200">Experience</span></h2>

    <div class="flex-shrink-0 flex flex-col">
        @for (var i = 0; i < Model.Length; i++)
        {
            var position = Model[i];

            <div class="flex flex-col md:flex-row flex-shrink-0">
                <div class="flex-shrink-0 w-80 hidden lg:flex flex-col">
                    <button data-position="@i" class="flex position flex-col p-4 pr-8 w-full h-full text-left border-t border-b border-zinc-700 hover:border-yellow-500 hover:bg-zinc-800">
                        <span>@position.Organisation</span>
                        <span class="text-zinc-300">@position.Name</span>
                        <span class="text-zinc-500">@position.StartDate - @(position.EndDate ?? "Present")</span>
                    </button>
                </div>
                <div class="flex-grow">
                    <div class="flex flex-col lg:hidden mt-4 mb-2">
                        <h3 class="text-lg">@position.Organisation</h3>
                        <span class="text-zinc-300">@position.Name</span>
                        <span class="text-zinc-500">@position.StartDate - @(position.EndDate ?? "Present")</span>
                    </div>
                    <section data-position="@i" class="position lg:pl-8 lg:hidden py-4 lg:border-t lg:border-b border-yellow-500 prose prose-invert prose-yellow print:prose-slate max-w-none">
                        @if (!string.IsNullOrEmpty(position.Description))
                        {
                            @Html.Raw(Markdig.Markdown.ToHtml(position.Description))
                        }

                        <h4>Responsibilities</h4>
                        <ul>
                            @foreach (var responsibility in position.Responsibilities)
                            {
                                <li>@Html.Raw(Markdig.Markdown.ToHtml(responsibility))</li>
                            }
                        </ul>

                        <h4>Major achievements</h4>

                        @foreach (var project in position.Projects)
                        {
                            if (!string.IsNullOrEmpty(project.Url))
                            {
                                <h5 id="@project.Id"><a href="@project.Url" target="_blank">@project.Name</a></h5>
                            }
                            else
                            {
                                <h5 id="@project.Id">@project.Name</h5>
                            }

                            @Html.Raw(Markdig.Markdown.ToHtml(@project.Description))
                        }
                    </section>
                </div>
            </div>
        }
    </div>


</section>