@model IEnumerable<Position>

<section id="experience" class="min-h-full container mx-auto pb-8 flex flex-col justify-center">
    <h2 class="text-2xl mb-8">03. Experience</h2>

    <div class="flex-shrink-0 flex flex-col">
        @foreach (var position in Model)
        {
            <div class="flex flex-shrink-0">
                <div class="flex-shrink-0 w-80 flex flex-col pr-8 py-4 border-r border-zinc-700">
                    @if (string.IsNullOrEmpty(position.OrganisationUrl))
                    {
                        <span>@position.Organisation</span>
                    }
                    else
                    {
                        <a href="@position.OrganisationUrl" target="_blank">@position.Organisation</a>
                    }
                    <span class="text-sm">@position.Name</span>
                    <span class="text-sm text-zinc-400">@position.StartDate - @(position.EndDate ?? "Present")</span>
                </div>
                <div class="flex-grow pl-8 py-4">
                    <div class="prose prose-invert max-w-none">
                        @if (!string.IsNullOrEmpty(position.Description))
                        {
                            @Html.Raw(Markdig.Markdown.ToHtml(position.Description))
                        }

                        <h4>Responsibilities</h4>
                        <ul>
                            @foreach (var responsibility in position.Responsibilities)
                            {
                                <li>@Html.Raw(Markdig.Markdown.ToHtml(responsibility))</li>
                            }
                        </ul>

                        <h4>Major achievements</h4>

                        @foreach (var project in position.Projects)
                        {
                            if (!string.IsNullOrEmpty(project.Url))
                            {
                                <h5 id="@project.Id"><a href="@project.Url" target="_blank">@project.Name</a></h5>
                            }
                            else
                            {
                                <h5 id="@project.Id">@project.Name</h5>
                            }

                            @Html.Raw(Markdig.Markdown.ToHtml(@project.Description))
                        }
                    </div>
                </div>
            </div>
        }
    </div>


</section>